:root {
    --accent: linear-gradient(140deg, #155799, #159957) !important;
    --accent-selected: linear-gradient(140deg, #159957, #155799) !important;
    --accent-icon: linear-gradient(140deg, #155799 20%, #159957) !important;
}