/** @format */

@use "../abstract/variables" as *;

@mixin actorCard($type) {
	height: auto;
	.card {
		&Padder-overflowPortrait {
			// padding-bottom: 100% !important;
			.cardImageIcon {
				color: transparent !important;
			}
		}
		&Box {
			position: relative;
		}
		&Overlay {
			&Container {
				background: transparent !important;
				// height: calc(100% - 2.825em);
				z-index: 3;
			}

			&Button-br {
				right: 0.5em;
				bottom: 0.5em;
			}
		}
		&Content {
			filter: brightness(1);
			transition: filter $transition-time-default ease-in-out;
		}
		&Scalable {
			height: auto;
			&::after {
				content: "";
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: linear-gradient(
					to top,
					rgb(0 0 0 / 0.6),
					transparent
				);
			}
			.cardImageContainer::after {
				background-size: cover;
			}
		}
		&Text {
			
		}
	}
}

@mixin cardIcon() {
	color: transparent;
	background: $gradient-default;
	background-clip: text;
	-webkit-background-clip: text;
}

@mixin indicator() {
	top: 0 !important;
	right: 0 !important;
	.indicator {
		border-radius: 0 0 0 $rounding-default;
		background: $gradient-default;
		padding: 0.2em;
		box-shadow: 0 0 5px rgb(0 0 0 / 0.7);
	}
}
