.cardScalable::after {
  content: "";
  background: rgba(0,0,0,0.75);
  width: 100%;
  height: 3.5rem;
  position: absolute;
  bottom: 0;
}
.cardText {
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
}
.cardText-first {
  bottom: 1.6rem;
  height: 1.5rem;
}
.cardText-secondary {
  bottom: 0;
  height: 1.5rem;
}
.cardScalable {
  border-radius: 10px !important;
  overflow: hidden;
}
.cardOverlayButton-br {
  bottom: 3.5em;
}
.card[data-type="CollectionFolder"] .itemAction.textActionButton {
  height: 1.5em;
}
.card[data-type="CollectionFolder"] .cardText-first {
  bottom: 5px;
}
.card[data-type="CollectionFolder"] .cardScalable::after {
  height: calc(1.5rem + 10px);
}
.innerCardFooter {
  height: 3rem;
  background: transparent;
  width: 100%;
  transform: translate(-50%, 0);
  border-radius: 0;
}
