/*Fonts */
@import url("https://prayag17.github.io/Jellyfin-Icons/Outline.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
body,
h1,h2,h3,h4 {
  font-family: 'Raleway' !important;
}

::selection {
  background: #aa5cc3;
  text-shadow: none;
}

/*Mini My media*/

#indexPage .raised.emby-button:hover {
  background: rgb(0, 0, 0, .75) !important;
  box-shadow: 0px 5px 9px 0px black;
}

#indexPage .raised.emby-button {
  background: rgb(0, 0, 0, .25) !important;
  box-shadow: 0px 0px 9px 0px black;
  transition: background .15s ease-out, box-shadow .15s ease-out;
  border-radius: var(--rounding);
}

.raised{
  border-radius: 5px;
}

/*Subtitle Fonts thanks the u/Edgementality-https://bit.ly/33slrSa*/
/*Firefox*/
.videoSubtitles {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1) !important;
}

/*Chrome, Edge Chromium & Saffari*/
video::-webkit-media-text-track-display {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  text-shadow: 0em 0em .2em rgba(0, 0, 0, 1) !important;
}

/*backup for subtitles*/
video::-webkit-media-text-track-container {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  text-shadow: 0em 0em .2em rgba(0, 0, 0, 1) !important;
}

video:cue {
  font-family: "Raleway" !important;
  font-weight: 700 !important;
  text-shadow: 0em 0em .2em rgba(0, 0, 0, 1) !important;
}

/*Setting border Radius*/
:root {
  --rounding: 10px;
  --card-rounding: 10px 10px 0px 0px;
  --accent: linear-gradient(140deg, #aa5cc3, #00a4dc);
  --accent-selected: linear-gradient(140deg, #00a4dc, #aa5cc3);
  --accent-text: linear-gradient(#00a4dc 0%, #aa5cc3 60%);
}
/*Rounded corners on pretty much everything-Source Monochromic*/
.formDialogHeader {
  border-top-left-radius: var(--rounding);
  border-top-right-radius: var(--rounding);
}

.formDialogFooter {
  border-bottom-left-radius: var(--rounding);
  border-bottom-right-radius: var(--rounding);
}

.cardOverlayContainer {
  border-radius: var(---card-rounding) !important;
}

.nowPlayingPageImage,
.toast,
.paperList,
.fab,
.multiSelectCheckboxOutline,
.itemSelectionPanel,
.cardContent-button,
.cardContent-shadow,
.itemDetailImage,
.cardOverlayButton-hover,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.blurhash-canvas,
.dialog,
.listItemIcon,
.listItem-border,
.button-flat,
.visualCardBox,
.chapterThumbTextContainer,
.chapterThumbContainer,
.chapterThumb,
.cardOverlayButtonIcon,
.subtitleappearance-preview.flex.align-items-center.justify-content-center {
  border-radius: var(--rounding) !important;
}

.osdPoster img {
  border-radius: var(--rounding);
  border: none;
}

.mdl-slider::-moz-range-thumb {
  border-radius: var(--rounding);
}

.mdl-slider::-ms-thumb {
  border-radius: var(--rounding);
}

.mdl-slider::-webkit-slider-thumb {
  border-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:first-child {
  border-bottom-left-radius: var(--rounding);
  border-top-left-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:last-child {
  border-bottom-right-radius: var(--rounding);
  border-top-right-radius: var(--rounding);
}

.detailImageContainer .cardBox {
  overflow: hidden;
  border-right: var(--rounding);
}

.emby-select,
.emby-select-withcolor{
  border-radius: 5px;
}

.cardContent-button,
.cardContent-shadow,
.itemDetailImage,
.cardOverlayButton-hover,
.cardImageContainer,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.cardOverlayButton,
.dialog {
  border-radius: var(--rounding);
}

.cardScalable,
.cardImage,
.visualCardBox .cardContent,
.sessionNowPlayingInnerContent,
.cardImageContainer,
.blurhash-canvas,
.cardPadder {
  border-radius: var(--card-rounding);
}

.checkboxOutline {
  border-radius: 5px !important;
}

/*fixing Poster Margin*/

.itemsContainer>.card>.cardBox {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}

.cardBox-bottompadded {
  margin-bottom: 16px !important;
}

.collectionItemsContainer .card.portraitCard {
  width: 13rem;
}

.sectionTitleContainer.flex {
  box-shadow: 0 0 black !important;
}

.section2 a.raised.homeLibraryButton.emby-button {
  background: rgba(0, 0, 0, 0.4) !important;
}

fieldset {
  border: 1px dotted rgb(87 87 87);
  border-radius: var(--rounding);
}

/*Hover items*/
.emby-input,
.emby-textarea {
  color: inherit;
  border: .07em solid #7b7b7b;
  border-radius: 5px;
  box-shadow: 0 0 8px 0px black !important;
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  text-shadow: 0 0 5px black;
}

.emby-select-withcolor {
  border: .07em solid #7b7b7b;
}

.playedIndicator,
.countIndicator {
  border-radius: 5px;
  box-shadow: 0 0 5px 1px black;
}

.actionSheetMenuItem:hover {
  background: linear-gradient(140deg, #aa5cc385, #00a4dc75) !important;
}

.cardBox {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-shadow: 0px 0px 9px 0px rgb(0 0 0);
  transition: background .15s ease-out, box-shadow .15s ease-out;
}

.card:hover .cardBox {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 9px black;
}

.cardImageContainer {
  background-size: 105%;
  transition: background .15s ease-out;
}

.card:hover .cardImageContainer {
  background-size: 120%;
}

.overflowSquareCard .cardImageContainer {
  background-size: 180%;
}

.overflowSquareCard:hover .cardImageContainer {
  background-size: 200%;
}

.detailImageContainer .card:hover .cardImageContainer {
  background-size: 105%;
}

.progressring-bg {
  border: .25em solid transparent;
  background: transparent;
}

.itemName.parentNameLast {
  font-size: 35px;
}

#itemDetailPage .button-flat:hover {
  transform: scale(1.5);
}

.button-flat {
  border-radius: 5px !important;
}

.detailButton-content {
  filter: drop-shadow(0px 3px 3px black);
}

.navMenuOption::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--accent);
  z-index: -1;
  left: 0;
  opacity: 0%;
  transition: opacity .2s;
}

.navMenuOption:hover::before {
  opacity: 100%;
}

.navMenuOption .navMenuOptionIcon {
  transition: margin-right .2s;
}

.navMenuOption:hover .navMenuOptionIcon {
  margin-right: 1.5em;
}

.listItem-border.emby-button:hover {
  background: black;
}

.listItem-border.emby-button:hover .listItemIcon {
  margin-right: .65rem;
}

.listItem-border.emby-button .listItemIcon {
  transition: margin-right .2s;
}

span.listItemIcon.material-icons {
  background: linear-gradient(140deg, #aa5cc3 20%, #00a4dc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.defaultCardBackground {
  background: transparent;
}

.cardImageIcon {
  background: var(--accent);
  color: transparent;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

.cardImage {
  background: linear-gradient(140deg, #aa5cc3 20%, #00a4dc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

navMenuOption-selected {
  background: var(--accent-selected) !important;
}

span.material-icons.detailButton-icon.check.playstatebutton-icon-played, span.material-icons.detailButton-icon.favorite.ratingbutton-icon-withrating {
  background: var(--accent-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.raised::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  background: var(--accent);
  border-radius: 5px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.raised:hover::before{
  opacity: 100%;
}

.dashboardSection .defaultCardBackground {
  color: white;
}

#indexPage .raised::before {
  background: transparent;
}

/*fancy link*/
.button-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #00a4dc;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .2s ease;
}

.button-link:hover {
  text-decoration: none;
}

.button-link:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

#itemDetailPage .button-link::after {
  background: white;
  height: 2px;
}
/*fancy link end*/

.listItem.listItem-border:hover {
  border-color: rgba(0, 0, 0, 0) !important;
  background: #3f3f3f;
}

.listItem-border {
  transition: border-color .2s, background .2s;
}

div#divRunningTasks:hover {
  transform: scale(1.1);
}

div#divRunningTasks {
  transition: transform .2s, background .2s;
}

.navMenuOption-selected {
  background: var(--accent-selected) !important;
}

.detailPageContent {
  text-shadow: 0 0 5px black;
}

select {
  box-shadow: 0 0 6px 0px black !important;
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(50px) !important;
  -webkit-backdrop-filter: blur(50px);
  text-shadow: 0 0 5px black !important;
}

/*Header*/
.skinHeader-withBackground {
  text-shadow: 0 0 5px black;
  background-color: transparent !important;
}

.emby-button-foreground::after {
  content: "";
  height: 2px;
  width: 0%;
  background: rgb(0,164,220);
  position: absolute;
  bottom: -35%;
  left: 50%;
  transform: translateX(-50%);
  transition: width .15s ease-in-out;
}

.emby-tab-button:hover .emby-button-foreground::after {
  width: 120%;
}

#dashboardPage,
#dashboardGeneralPage,
#userProfilesPage,
#pluginCatalogPage,
#repositories,
#devicesPage,
#serverActivityPage,
#liveTvStatusPage,
#liveTvSettingsPage,
#networkingPage,
#apiKeysPage,
#logPage,
#notificationSettingsPage,
#scheduledTasksPage,
#itemDetailPage,
#userImagePage,
#displayPreferencesPage,
#homeScreenPreferencesPage,
#languagePreferencesPage,
#quickConnectPreferencesPage {
  margin-top: 60px;
  padding-top: 0px !important;
  overflow: scroll;
}

@media all and (min-width: 100em){
  #indexPage,
  #moviesPage,
  #tvRecommendedPage,
  #musicRecommendedPage {
    margin-top: 70px;
    padding-top: 0px !important;
    overflow: scroll;
  }
  #encodingSettingsPage,
  #mediaLibraryPage,
  #dlnaSettingsPage,
  #pluginsPage {
    margin-top: 60px;
    padding-top: 0px !important;
    overflow: scroll;
  }
}

@media all and (max-width: 100em){
  #indexPage,
  #moviesPage,
  #tvRecommendedPage,
  #encodingSettingsPage,
  #mediaLibraryPage,
  #dlnaSettingsPage,
  #pluginsPage,
  #musicRecommendedPage {
    margin-top: 130px;
    padding-top: 0px !important;
    overflow: scroll;
  }
}

/*Video Player*/
.layout-desktop .osdControls {
  width: 100%;
  max-width: 100%;
}

.sliderBubble {
  border-radius: var(--rounding);
  background: rgba(0,0,0,0.5);
  font-weight: 400 !important;
}

h1.sliderBubbleText {
  background: var(--accent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

/*cardbox border-radius change*/

#indexPage button.cardImageContainer.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast,
.emby-scroller button.cardImageContainer.coveredImage.cardContent,
.childrenItemsContainer button.cardImageContainer.coveredImage.cardContent,
.nextUpItems button.cardImageContainer.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast,
.vertical-wrap button.cardImageContainer.coveredImage.cardContent,
.emby-scroller button.cardImageContainer {
  border-radius: 10px 10px 0px 0px !important;
}

.justify-content-center.flex-wrap-wrap.padded-top.padded-left.padded-right.padded-bottom {
  backdrop-filter: none !important;
  box-shadow: 0 0 black;
}

.detailPagePrimaryContainer.padded-left.padded-right.detailRibbon,
button.button-flat.btnResume.detailButton.emby-button,
button.emby-tab-button.emby-button,
h2 {
  text-shadow: 0 0 5px black;
}

.tmla-mask {
  background-color: rgba(0, 0, 0, 0);
}

.dialogBackdropOpened {
  opacity: 1 !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.dialogBackdrop {
  background-color: #0000;
}

.cardBox:not(.visualCardBox) .cardPadder,
.cardContent-shadow {
  box-shadow: 0 0 rgba(0, 0, 0, 0) !important;
}

.card-hoverable:hover .cardOverlayContainer {
  border-radius: 10px 10px 0px 0px !important;
}

.layout-mobile .overflowPortraitCard, .layout-mobile .overflowSquareCard {
  width: 40vw !important;
}

.layout-mobile .portraitCard {
  width: 50%;
}

/* Adjust both "size-adjust" and "size" to modify size */
.pageTitle {
  margin-top: auto;
  margin-bottom: auto;
}

.emby-tab-button {
  padding: 1.75em 1.7em;
}


/*Blur backdrops, feel free to edit the intensity of the filter values*/

.backdropImage {
  filter: blur(10px) saturate(110%) contrast(110%)brightness(95%);
}
.backgroundContainer.withBackdrop {
  background: rgba(0,0,0,0.3);
  box-shadow: inset 0 0 210px 40px black;
}
.layout-desktop .itemBackdrop:after, .layout-tv .itemBackdrop:after {
  background: transparent;
}

.dialog {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(60px) !important;
  -webkit-backdrop-filter: blur(60px) !important;
  -moz-backdrop-filter: blur (60px) !important;
  -o-backdrop-filter: blur(60px) !important;
  box-shadow: 0 0 20px 4px black;
}


/* Top menu transparency */
.playedIndicator {
  background: #5dd000;
}

.upNextDialog {
  backdrop-filter: blur(15px);
  box-shadow: 0 0 8px 5px black;
}

.upNextDialog-poster-img {
  border-radius: 10px;
}

.cardOverlayContainer {
  background-color: rgba(0, 0, 0, 0.8);
}

/*Theme some dialogues*/

.mainDrawer.drawer-open {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(60px);
  -moz-backdrop-filter: blur(60px);
  -o-backdrop-filter: blur(60px);
  box-shadow: 0 0 0 1000vh rgb(0 0 0 / 45%), 0 0 20px 0px black;
  backdrop-filter: blur(60px);
}

.mainDrawer {
  box-shadow: none;
  transition: all .2s !important;
}

/*Fixing position of tv or movie poster*/

.detailImageContainer .card {
  position: fixed;
}

/*Tweak series/movie/album title screen*/
.detailPagePrimaryContainer {
  background: rgba(0, 0, 0, 0) !important;
}

.card[data-type=Actor] .cardBox {
  background: none;
  position: relative;
}

.card[data-type=Actor] .cardScalable {
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  border-radius: var(--rounding);
}

.card[data-type=Actor] .cardText {
  position: absolute;
}

.card[data-type=Actor] .cardText-secondary {
  bottom: 0%;
  background: rgba(0,0,0,0.5);
  width: -webkit-fill-available;
  border-radius: 0px 0px 10px 10px;
  height: 1.5rem;
}

.card[data-type=Actor] .cardText-first {
  bottom: 11%;
  background: rgba(0,0,0,0.5);
  width: -webkit-fill-available;
}

.card[data-type=Actor] .cardScalable {
  overflow: hidden;
  border-radius: var(--rounding);
  height: 3rem;
}

.card[data-type=Actor] .cardOverlayButton-br {
  position: absolute;
  bottom: 23%;
  right: 0;
}

.card[data-type=Actor] .cardPadder {
  background: none;
}

.card[data-type=Actor] .cardImageIcon {
  bottom: 41%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.detailLogo{
  display: none;
}

#itemDetailPage .emby-select {
  box-shadow: none !important;
}

.layout-mobile #itemDetailPage .cardBox {
  box-shadow: 0px 15px 10px -10px #5d5d5d, 0px 0px 13px 0px #a1a1a1;
}

.layout-mobile #itemDetailPage::before{
  content: "";
  background: linear-gradient(140deg,#3E2247 10%,#003C50 90%);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.layout-mobile .mainDetailButtons {
  width: 100%;
  font-size: 100%;
}


.layout-mobile .detailButton-content {
  filter: none;
}

@media (min-width: 32em), (min-height: 32em){
  .itemBackdrop {
    height: 23vh !important;
    background-image: none !important;
  }
}

@media all and (max-width: 32em), (max-height: 32em) {
  .mainDetailButtons {
    margin-left: auto;
    margin-right: auto;
  }
  .itemBackdrop {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
  }
  .detailPageWrapperContainer {
    background: #ddd;
    color: #383838;
    width: 90%;
    border-radius: 10px;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 110%;
  }
  .primaryImageWrapper>img {
    display: block;
    margin: 0 auto;
    max-width: 80vw;
    max-height: 50vh;
    border-radius: var(--rounding);
    margin-bottom: 3.5rem;
    box-shadow:  0px 2rem 3rem -1.5rem #111111, 0px 0px 20px 0px #afaeae;
  }
  .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon,
  button.button-flat.btnResume.detailButton.emby-button,
  button.emby-tab-button.emby-button,
  h2 {
    text-shadow: none !important;
  }
  .detailPageContent {
    text-shadow: none !important;
  }
  select {
    text-shadow: none !important;
  }
  .button-flat:hover {
    transform: none;
  }
}

.innerCardFooter {
  height: 100%;
}

.itemProgressBar {
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

.itemProgressBarForeground {
  background: linear-gradient(140deg, rgba(170,92,195,.65), rgba(0,164,220,.65)) !important;
}

.cardIndicators {
  right: 0.3em;
  top: 0.3em;
}

.mainDetailButtons {
  font-size: 130%;
}

.navMenuOptionIcon {
  font-size: 1.75rem !important;
  transition: margin .2s ease-in-out;
}

.paper-icon-button-light:hover {
  background-color: rgba(0, 0, 0, 0);
}

@media all and (min-width: 100em) {
  .cardOverlayFab-primary {
    background-color: #00000000;
  }
  .cardOverlayButtonIcon {
    background-color: #00000000 !important;
  }
  .cardOverlayContainer {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media all and (max-width: 100em) {
  .cardOverlayButtonIcon {
    border-radius: 5px !important;
  }
  .cardOverlayButtonIcon {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .cardOverlayButton {
    padding: 0.3em;
  }
}

/*Player theme*/
@keyframes gradient{
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 100% 100%;
  }
  100%{
    background-position: 0 0;
  }
}

#nowPlayingPage {
  background: linear-gradient(140deg,#3E2247 10%,#003C50 90%);
  background-size: 550%;
  animation: gradient 10s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  overflow-y: scroll;
}

.nowPlayingPageImage {
  box-shadow: none !important;
  border: none;
  overflow: hidden;
}

.layout-mobile .remoteControlContent {
  background: rgba(0,0,0,0.5);
  padding: 0.5rem !important;
  margin: 0 7.3%;
  border-radius: var(--rounding);
  overflow: hidden;
  height: 65%;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

/*Size episode preview images in a more compact way*/

#itemDetailPage .listItem-content {
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
  overflow: hidden;
  transition: background .15s ease-in-out;
  backdrop-filter: blur(20px);
}

#itemDetailPage .listItem:hover .listItem-content {
  background: rgba(0,0,0,0.8);
}

.listItemImageButton-icon {
  padding: 0;
}

#itemDetailPage .listItem {
  position: relative;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: var(--rounding);
}

#itemDetailPage .secondary.listItem-overview.listItemBodyText {
  height: 100%;
  margin: 0;
}

.layout-mobile #itemDetailPage .listItemImageButton{
  display: none;
}

.layout-mobile .listItemImage {
  height: 120% !important;
  width: 120% !important;
  position: absolute;
  filter: brightness(40%) blur(5px);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  border-radius: 10px !important;
  z-index: -1;
}

.layout-mobile #itemDetailPage .listItem-content {
  backdrop-filter: none;
}

.layout-mobile #itemDetailPage .listItem-content {
  background: none !important;
  position: unset;
  color: white;
}

.listItemImageButton {
  margin: auto;
  font-size: 1.6em !important;
}

/* My Media Styling */

.section0 button.itemAction.textActionButton {
  height: 3.5em;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.section0 .overflowBackdropCard,
.section0 .overflowSmallBackdropCard {
  max-width: 90vw;
}

.section0 .emby-scroller {
  margin-right: 0;
}

.section0 .itemsContainer {
  flex-wrap: wrap;
}

.raised.homeLibraryButton:hover {
  transition: filter 1s;
}

.raised.homeLibraryButton {
  transition: filter 1s;
}

.homeLibraryButton {
  min-width: 12em;
  margin: 0.4em;
}


/*Narrow the login form*/

#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}

/*Login background*/
#loginPage {
  background: url(https://prayag17.github.io/JellySkin/login.png), radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)) !important;
  background-size: cover !important;
  background-blend-mode: overlay;
}

#loginPage .squareCard {
  width: 50%;
}

#loginPage .padded-left.padded-right.padded-bottom-page {
  width: 22em;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0,0,0,0.5);
  padding: 2em 2em !important;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

/*Theming for the dasboard*/

.paperList,
.visualCardBox {
  background-color: #000;
  border-radius: 6px;
}

.listItemIcon {
  border-radius: 6px !important;
}

.listItem-border {
  border-color: rgba(0,0,0,0) !important;
}

.headerButton.headerButtonRight.paper-icon-button-light.headerUserButtonRound {
  border-radius: 5px !important;
}

/*Theming Playback data info*/
.playerStats {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(90px);
  -webkit-backdrop-filter: blur(90px);
  box-shadow: 0 0 8px black;
}
/*For browsers that don't support backdrop-filter*/
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .mainDrawer.drawer-open{
    background: rgba(0,0,0,0.85);
  }
  .dialogBackdropOpened {
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0.1);
  }
  .dialog {
    background-color: rgba(0, 0, 0, 0.95) !important;
    box-shadow: 0 0 20px 4px black;
  }
  .mainDrawer {
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: none;
  }
  .playerStats {
    background: rgba(28, 28, 28, .8);
    box-shadow: 0 0 8px black !important;
  }
}
