/*Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
body,
h1,h2,h3,h4 {
  font-family: 'Raleway' !important;
}

::selection {
  background: #aa5cc3;
  text-shadow: none;
}

/*Mini My media*/

#indexPage .raised.emby-button:hover {
  background: rgb(0, 0, 0, .75) !important;
  box-shadow: 0px 5px 9px 0px black;
}

#indexPage .raised.emby-button {
  background: rgb(0, 0, 0, .25) !important;
  box-shadow: 0px 0px 9px 0px black;
  transition: background .15s ease-out, box-shadow .15s ease-out;
}

/*Subtitle Fonts thanks the u/Edgementality-https://bit.ly/33slrSa*/
/*Firefox*/
.videoSubtitles {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1) !important;
}

/*Chrome, Edge Chromium & Saffari*/
video::-webkit-media-text-track-display {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  text-shadow: 0em 0em .2em rgba(0, 0, 0, 1) !important;
}

/*backup for subtitles*/
video::-webkit-media-text-track-container {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  text-shadow: 0em 0em .2em rgba(0, 0, 0, 1) !important;
}

video:cue {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  text-shadow: 0em 0em .2em rgba(0, 0, 0, 1) !important;
}

/*Setting border Radius*/
:root {
  --rounding: 10px;
  --card-rounding: 10px 10px 0px 0px;
}

/*Rounded corners on pretty much everything-Source Monochromic*/
.formDialogHeader {
  border-top-left-radius: var(--rounding);
  border-top-right-radius: var(--rounding);
}

.formDialogFooter {
  border-bottom-left-radius: var(--rounding);
  border-bottom-right-radius: var(--rounding);
}

.cardOverlayContainer {
  border-radius: var(--rounding) !important;
}

.nowPlayingPageImage,
.toast,
.paperList,
.fab,
.multiSelectCheckboxOutline,
.itemSelectionPanel,
.cardContent-button,
.cardContent-shadow,
.itemDetailImage,
.cardOverlayButton-hover,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.dialog,
.listItemIcon,
.listItem-border,
.button-flat,
.visualCardBox,
.chapterThumbTextContainer,
.chapterThumbContainer,
.chapterThumb,
.cardOverlayButtonIcon,
.subtitleappearance-preview.flex.align-items-center.justify-content-center {
  border-radius: var(--rounding) !important;
}

.osdPoster img {
  border-radius: var(--rounding);
  border: none;
}

.mdl-slider::-moz-range-thumb {
  border-radius: var(--rounding);
}

.mdl-slider::-ms-thumb {
  border-radius: var(--rounding);
}

.mdl-slider::-webkit-slider-thumb {
  border-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:first-child {
  border-bottom-left-radius: var(--rounding);
  border-top-left-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:last-child {
  border-bottom-right-radius: var(--rounding);
  border-top-right-radius: var(--rounding);
}

.detailImageContainer .cardBox {
    overflow: hidden;
    border-right: var(--rounding);
}

.emby-select,
.emby-select-withcolor{
  border-radius: 5px;
}

.cardContent-button,
.cardContent-shadow,
.itemDetailImage,
.cardOverlayButton-hover,
.cardImageContainer,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.cardOverlayButton,
.dialog {
  border-radius: var(--rounding);
}

.cardImage,
.visualCardBox .cardContent,
.sessionNowPlayingInnerContent,
.cardImageContainer,
.cardOverlayContainer,
.blurhash-canvas,
.cardPadder {
  border-radius: var(--card-rounding);
}

.checkboxOutline {
  border-radius: 5px !important;
}

/*fixing Poster Margin*/

.itemsContainer>.card>.cardBox {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}

.cardBox-bottompadded {
  margin-bottom: 16px !important;
}

.collectionItemsContainer .card.portraitCard {
  width: 25%;
}

.sectionTitleContainer.flex {
  box-shadow: 0 0 black !important;
}

.section2 a.raised.homeLibraryButton.emby-button {
  background: rgba(0, 0, 0, 0.4) !important;
}

/*Hover items*/
.emby-input,
.emby-textarea {
  color: inherit;
  border: .07em solid #7b7b7b;
  border-radius: 5px;
  box-shadow: 0 0 8px 0px black !important;
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  text-shadow: 0 0 5px black;
}

.emby-select-withcolor {
  border: .07em solid #7b7b7b;
}

.playedIndicator,
.countIndicator {
  border-radius: 5px;
  box-shadow: 0 0 5px 1px black;
}

.actionSheetMenuItem:hover {
  background: linear-gradient(140deg, #aa5cc385, #00a4dc75) !important;
}

.cardBox {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-shadow: 0px 0px 9px 0px rgb(0 0 0);
  transition: background .15s ease-out, box-shadow .15s ease-out;
}

.card:hover .cardBox {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 9px black;
}

.cardImageContainer {
  background-size: 105%;
  transition: background .15s ease-out;
}

.card:hover .cardImageContainer {
  background-size: 120%;
}

.detailImageContainer .card:hover .cardImageContainer {
  background-size: 120%;
}

.progressring-bg {
  border: .25em solid transparent;
  background: transparent;
}

.itemName.parentNameLast {
  font-size: 35px;
}

#itemDetailPage .button-flat:hover {
  transform: scale(1.5);
}

.button-flat {
  border-radius: 5px !important;
}

.raised {
  transition: transform .2s, background .2s;
  background: #3a3a3a !important;
  border-radius: 5px !important;
}

.navMenuOption.emby-button:hover {
  background: linear-gradient(140deg, #aa5cc3, #00a4dc) !important;
}

.raised.emby-button:hover {
  background: rgb(216, 0, 255);
  background: linear-gradient(140deg, #aa5cc3, #00a4dc) !important;
}

navMenuOption-selected {
  background: rgb(216, 0, 255);
  background: linear-gradient(140deg, #00a4dc, #aa5cc3) !important;
}

.listItem.listItem-border:hover {
  border-color: rgba(0, 0, 0, 0) !important;
  background: #3f3f3f;
}

.listItem-border {
  transition: border-color .2s, background .2s;
}

div#divRunningTasks:hover {
  transform: scale(1.1);
}

div#divRunningTasks {
  transition: transform .2s, background .2s;
}

.navMenuOption-selected {
  background: linear-gradient(140deg, #00a4dc, #aa5cc3) !important;
}

.detailPageContent {
  text-shadow: 0 0 5px black;
}

select {
  box-shadow: 0 0 6px 0px black !important;
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(50px) !important;
  -webkit-backdrop-filter: blur(50px);
  text-shadow: 0 0 5px black !important;
}

/*Header*/
.skinHeader-withBackground {
  text-shadow: 0 0 5px black;
  background-color: transparent !important;
}

#dashboardPage,
#dashboardGeneralPage,
#userProfilesPage,
#devicesPage,
#serverActivityPage,
#liveTvStatusPage,
#liveTvSettingsPage,
#networkingPage,
#apiKeysPage,
#logPage,
#notificationSettingsPage,
#scheduledTasksPage,
#itemDetailPage,
#userImagePage,
#displayPreferencesPage,
#homeScreenPreferencesPage,
#languagePreferencesPage,
#quickConnectPreferencesPage {
  margin-top: 60px;
  padding-top: 0px !important;
  overflow: scroll;
}

@media all and (min-width: 100em){
  #indexPage,
  #moviesPage,
  #tvRecommendedPage,
  #musicRecommendedPage {
    margin-top: 70px;
    padding-top: 0px !important;
    overflow: scroll;
  }
  #encodingSettingsPage,
  #mediaLibraryPage,
  #dlnaSettingsPage,
  #pluginsPage {
    margin-top: 60px;
    padding-top: 0px !important;
    overflow: scroll;
  }
}

@media all and (max-width: 100em){
  #indexPage,
  #moviesPage,
  #tvRecommendedPage,
  #encodingSettingsPage,
  #mediaLibraryPage,
  #dlnaSettingsPage,
  #pluginsPage,
  #musicRecommendedPage {
    margin-top: 130px;
    padding-top: 0px !important;
    overflow: scroll;
  }
}

/*Video Player*/
.layout-desktop .osdControls {
  width: 100%;
  max-width: 100%;
}

/*cardbox border-radius change*/

#indexPage button.cardImageContainer.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast,
.emby-scroller button.cardImageContainer.coveredImage.cardContent,
.childrenItemsContainer button.cardImageContainer.coveredImage.cardContent,
.nextUpItems button.cardImageContainer.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast,
.vertical-wrap button.cardImageContainer.coveredImage.cardContent,
.emby-scroller button.cardImageContainer {
  border-radius: 10px 10px 0px 0px !important;
}

.justify-content-center.flex-wrap-wrap.padded-top.padded-left.padded-right.padded-bottom {
  backdrop-filter: none !important;
  box-shadow: 0 0 black;
}

.detailPagePrimaryContainer.padded-left.padded-right.detailRibbon,
button.button-flat.btnResume.detailButton.emby-button,
button.emby-tab-button.emby-button,
h2 {
  text-shadow: 0 0 5px black;
}

.tmla-mask {
  background-color: rgba(0, 0, 0, 0);
}

.dialogBackdropOpened {
  opacity: 1 !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.dialogBackdrop {
  background-color: #0000;
}

.cardBox:not(.visualCardBox) .cardPadder,
.cardContent-shadow {
  box-shadow: 0 0 rgba(0, 0, 0, 0) !important;
}

.card-hoverable:hover .cardOverlayContainer {
  border-radius: 10px 10px 0px 0px !important;
}

.layout-mobile .overflowPortraitCard, .layout-mobile .overflowSquareCard {
  width: 40vw !important;
}

.layout-mobile .portraitCard {
  width: 50%;
}

/* Adjust both "size-adjust" and "size" to modify size */
.pageTitle {
  margin-top: auto;
  margin-bottom: auto;
}

.emby-tab-button {
  padding: 1.75em 1.7em;
}


/*Blur backdrops, feel free to edit the intensity of the filter values*/

.backdropImage {
  filter: blur(10px) saturate(110%) contrast(110%)brightness(95%);
}
.backgroundContainer.withBackdrop {
  background: rgba(0,0,0,0.3);
  box-shadow: inset 0 0 210px 40px black;
}
.layout-desktop .itemBackdrop:after, .layout-tv .itemBackdrop:after {
  background: transparent;
}

.dialog {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(60px) !important;
  -webkit-backdrop-filter: blur(60px) !important;
  -moz-backdrop-filter: blur (60px) !important;
  -o-backdrop-filter: blur(60px) !important;
  box-shadow: 0 0 20px 4px black;
}


/* Top menu transparency */
.playedIndicator {
  background: #5dd000;
}

.upNextDialog {
  backdrop-filter: blur(15px);
  box-shadow: 0 0 8px 5px black;
}

.upNextDialog-poster-img {
  border-radius: 10px;
}

.cardOverlayContainer {
  background-color: rgba(0, 0, 0, 0.8);
}

/*Theme some dialogues*/

.mainDrawer.drawer-open {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(60px);
  -moz-backdrop-filter: blur(60px);
  -o-backdrop-filter: blur(60px);
  box-shadow: 0 0 0 1000vh rgb(0 0 0 / 45%), 0 0 20px 0px black;
  backdrop-filter: blur(60px);
}

.mainDrawer {
  box-shadow: none;
  transition: all .2s !important;
}

.navMenuOption:hover {
  background: rgba(0, 164, 220, 0.2);
}


/*Fixing position of tv or movie poster*/

.detailImageContainer .card {
  position: fixed;
}


/*Tweak series/movie/album title screen*/

.detailPagePrimaryContainer {
  background: rgba(0, 0, 0, 0) !important;
}

.detailLogo{
  display: none;
}

#itemDetailPage .emby-select {
  box-shadow: none !important;
}

.layout-mobile #itemDetailPage .cardBox {
  box-shadow: 0px 15px 10px -10px #5d5d5d, 0px 0px 13px 0px #a1a1a1;
}

@media (min-width: 32em), (min-height: 32em){
  .itemBackdrop {
    height: 23vh !important;
    background-image: none !important;
  }
}

@media all and (max-width: 32em), (max-height: 32em) {
  .mainDetailButtons {
    margin-left: auto;
    margin-right: auto;
  }
  .itemBackdrop {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
  }
  .detailPageWrapperContainer {
    background: #ddd;
    color: #383838;
    width: 98%;
    border-radius: 10px;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 110%;
  }
  .primaryImageWrapper>img {
    display: block;
    margin: 0 auto;
    max-width: 80vw;
    max-height: 50vh;
    border-radius: var(--rounding);
    box-shadow:  0px 35px 20px -25px #8c8c8c, 0px 0px 20px 0px #afaeae;
  }
  .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon,
  button.button-flat.btnResume.detailButton.emby-button,
  button.emby-tab-button.emby-button,
  h2 {
    text-shadow: none !important;
  }
  .detailPageContent {
    text-shadow: none !important;
  }
  select {
    text-shadow: none !important;
  }
  .button-flat:hover {
    transform: none;
  }
}

.itemProgressBar {
  height: 2.5px;
  background: rgba(0, 0, 0, 0);
}

.cardIndicators {
  right: 0.3em;
  top: 0.3em;
}

.paper-icon-button-light:hover {
  background-color: rgba(0, 0, 0, 0);
}

@media all and (min-width: 100em) {
  .cardOverlayFab-primary {
    background-color: #00000000;
  }
  .cardOverlayButtonIcon {
    background-color: #00000000 !important;
  }
  .cardOverlayContainer {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media all and (max-width: 100em) {
  .cardOverlayButtonIcon {
    border-radius: 5px !important;
  }
  .cardOverlayButtonIcon {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .cardOverlayButton {
    padding: 0.3em;
  }
}


/*Size episode preview images in a more compact way*/

#itemDetailPage .listItem-content {
  height: 100%;
  margin: 0px !important;
  border-radius: var(--rounding);
  background: rgba(0,0,0,0.65);
  overflow: hidden;
  position: relative;
  transition: background .15s ease-in;
  color: #ddd;
}

.layout-mobile #itemDetailPage .listItem-bottomoverview.secondary {
  display: none;
}

#itemDetailPage .listItem:hover .listItem-content {
  background: rgba(0,0,0,0.8);
}

#itemDetailPage .listItemImage {
  height: 100%;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.listItemImageButton-icon {
  padding: 0;
}

#itemDetailPage .listItem {
  position: relative;
  height: 12em;
}

#itemDetailPage .secondary.listItem-overview.listItemBodyText {
  height: 100%;
  margin: 0;
}

.layout-mobile #itemDetailPage .listItemImageButton{
  display: none;
}

.layout-mobile .listItemImage {
  height: 110% !important;
  width: 110% !important;
  position: absolute;
  filter: brightness(40%) blur(5px);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  border-radius: 10px !important;
  width: 110%;
}

.listItemImageButton {
  margin: auto;
  font-size: 1.6em !important;
}

/* My Media Styling */

.section0 button.itemAction.textActionButton {
  height: 3.5em;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.section0 .overflowBackdropCard,
.section0 .overflowSmallBackdropCard {
  max-width: 90vw;
}

.section0 .emby-scroller {
  margin-right: 0;
}

.section0 .itemsContainer {
  flex-wrap: wrap;
}

.raised.homeLibraryButton:hover {
  transition: filter 1s;
}

.raised.homeLibraryButton {
  transition: filter 1s;
}

.homeLibraryButton {
  min-width: 12em;
  margin: 0.4em;
}


/*Narrow the login form*/

#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}

/*Login background*/
#loginPage {
  background: url(https://prayag17.github.io/JellySkin/login.png), radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)) !important;
  background-size: cover !important;
  background-blend-mode: overlay;
}

#loginPage .squareCard {
  width: 50%;
}

#loginPage .padded-left.padded-right.padded-bottom-page {
  width: 22em;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0,0,0,0.5);
  padding: 5em 2em !important;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

/*Theming for the dasboard*/

.paperList,
.visualCardBox {
  background-color: #000;
  border-radius: 6px;
}

.listItemIcon {
  border-radius: 6px !important;
}

.listItem-border {
  border-color: rgba(0,0,0,0) !important;
}

.raised {
  background: #00a4dc;
}

.headerButton.headerButtonRight.paper-icon-button-light.headerUserButtonRound {
  border-radius: 5px !important;
}


/*For browsers that don't support backdrop-filter*/

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .dialogBackdropOpened {
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0.1);
  }
  .dialog {
    background-color: rgba(0, 0, 0, 0.95) !important;
    box-shadow: 0 0 20px 4px black;
  }
  .mainDrawer {
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: none;
  }
  .playerStats {
    background: rgba(28, 28, 28, .8);
    box-shadow: 0 0 8px black !important;
  }
  /*Banner transparency*/
  #dashboardPage,
  #dashboardGeneralPage,
  #userProfilesPage,
  #devicesPage,
  #serverActivityPage,
  #liveTvStatusPage,
  #liveTvSettingsPage,
  #networkingPage,
  #apiKeysPage,
  #logPage,
  #notificationSettingsPage,
  #scheduledTasksPage,
  #itemDetailPage {
    margin-top: 60px;
    padding-top: 0px !important;
    overflow: scroll;
  }
  @media all and (min-width: 100em) {
    #indexPage,
    #moviesPage,
    #tvRecommendedPage,
    #musicRecommendedPage {
      margin-top: 70px;
      padding-top: 0px !important;
      overflow: scroll;
    }
    #encodingSettingsPage,
    #mediaLibraryPage,
    #dlnaSettingsPage,
    #pluginsPage {
      margin-top: 60px;
      padding-top: 0px !important;
      overflow: scroll;
    }
  }
  @media all and (max-width: 100em) {
    #indexPage,
    #moviesPage,
    #tvRecommendedPage,
    #encodingSettingsPage,
    #mediaLibraryPage,
    #dlnaSettingsPage,
    #pluginsPage,
    #musicRecommendedPage {
      margin-top: 130px;
      padding-top: 0px !important;
      overflow: scroll;
    }
    /*Theming Playback data info*/
    .playerStats {
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(90px);
      -webkit-backdrop-filter: blur(90px);
      box-shadow: 0 0 8px black;
    }
  }
}
