#itemDetailPage .detailLogo {
    position: absolute;
    left: 32%;
    top: 10%;
}

#itemDetailPage .layout-mobile .detailLogo {
    left: 50%;
    top: 0;
    display: block;
    z-index: 1;
}

.layout-mobile .infoText {
    padding-top: 2em;
}

.detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
    padding-top: 8em;
}
#itemDetailPage .itemName.infoText.parentNameLast {
    display: none;
}
