#itemDetailPage .detailLogo {
    position: absolute;
    left: 32.5%;
    top: 9.5%;
    background-position: 0 !important;
    display: block;
    -webkit-filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
    filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
}

.detailRibbon {
    margin-top: 1em !important;
}

.layout-mobile .detailRibbon {
    margin-top: 0 !important;
}

.layout-mobile .detailLogo {
    display: none;
}

.layout-mobile .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
    padding-top: 4.5rem !important;
}

#itemDetailPage .itemName.infoText.parentNameLast {
    display: none;
}

.hide+.detailPageWrapperContainer .itemName {
    display: block !important;
}

.itemName {
    margin: .5em 0 !important;
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
    display: block;
}