/** @format */

:root {
	--accent1-light: hsl(272, 40%, 25%);
	--accent1-dark: hsl(272, 40%, 5%);
	--accent1-light-opacity1: hsla(272, 40%, 25%, 0.4);
	--accent2-light: hsl(309, 21%, 37%);
	--accent2-dark: hsl(309, 21%, 16%);
}
