/** @format */

:root {
	--accent1-light: hsl(210, 76%, 34%);
	--accent1-dark: hsl(210, 76%, 17%);
	--accent1-light-opacity1: hsl(210, 76%, 34%, 0.4);
	--accent2-light: hsl(150, 76%, 34%);
	--accent2-dark: hsl(150, 76%, 17%);
}
