/** @format */

:root {
	--accent1-light: hsl(340, 13%, 5%);
	--accent1-dark: hsl(340, 13%, 2%);
	--accent1-light: hsla(340, 13%, 5%, 0.4);
	--accent2-light: hsl(191, 100%, 38%);
	--accent2-dark: hsl(191, 100%, 16%);
}
