* {
  mask: none !important;
  -webkit-mask: none !important;
}

.layout-mobile #itemDetailPage::after {
  display: none !important;
}

div#loginPage {
  background-size: 500% !important;
  background: linear-gradient(140deg, #003c50, #00a4dc, #aa5cc3, #3e2247);
  -webkit-animation: lgnbg 15s ease-in-out infinite alternate;
  animation: lgnbg 15s ease-in-out infinite alternate;
}

@-webkit-keyframes lgnbg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes lgnbg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
