* {
  mask: none !important;
  -webkit-mask: none !important;
}

.layout-mobile #itemDetailPage::after {
  display: none !important;
}

div#loginPage {
  background-image: var(--accent-icon) !important;
}
