.detailLogo {
  width: 35vw;
  height: 16vh;
}

#itemDetailPage .detailLogo {
  position: static;
  margin-left: 32.5%;
  display: block;
  -webkit-filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
  filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
  flex-shrink: 0;
  background-position: 0 50%;
  margin-top: 8vh;
}

.layout-mobile .detailLogo {
  display: none !important;
}

.layout-mobile
  .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
  padding-top: 4.5rem !important;
}

#itemDetailPage .itemName.infoText.parentNameLast {
  display: none;
}

.hide + .detailPageWrapperContainer .itemName {
  display: block !important;
}

.layout-desktop .hide + .detailPageWrapperContainer .detailRibbon {
  margin-top: 8vh;
}

.itemName {
  margin: 0.5em 0 !important;
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
  display: block;
}
