/** @format */

$cardText-bg: rgb(0 0 0 / 0.7);
.card {
	--height: calc(100% - 3.65em);
	.innerCardFooter {
		border-radius: 0 !important;
		margin-bottom: 3.65em;
		width: 100% !important;
		.itemProgressBar {
			background: $cardText-bg;
		}
	}
	&Text {
		position: absolute;
		left: 0;
		right: 0;
		height: 1.5em;
		z-index: 5;
		&-first {
			bottom: 1.75em;
		}
		&-secondary {
			bottom: 0;
		}
	}
	&Scalable::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 3.65em;
		background: linear-gradient(to top, rgb(0 0 0 / 0.9), $cardText-bg);
	}
	&Box {
		position: relative;
	}
	&OverlayContainer {
		height: var(--height);
	}
	&[data-type="CollectionFolder"] {
		--height: calc(100% - 2.999em);
		.cardScalable::after {
			display: none !important;
		}
		.cardText {
			bottom: 0;
			background: linear-gradient(
				to top,
				rgb(0 0 0 / 0.9),
				$cardText-bg
			);
			text-align: center;
		}
	}
}

.detailImageContainer {
	.cardScalable::after {
		display: none !important;
	}
}

.localUsers .card {
	.cardFooter {
		display: flex;
		position: absolute;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: stretch;
		justify-content: center;
		padding: 0.3em;
		background: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.9),
			rgba(0, 0, 0, 0.7)
		);
		width: calc(100% - 0.6em);
		bottom: 0;
		height: fit-content;
	}
	.cardText {
		position: static !important;
		height: 1.5em;
		z-index: 5;
		flex: 0 0 100%;
		box-sizing: content-box;
		padding: 0;
		width: 100%;
	}
	.cardScalable::after {
		display: none;
	}
}

#divUsers .card {
	.cardFooter {
		padding: 0.3em 0.3em 0.5em;
		position: absolute;
		bottom: 0;
		width: calc(100% - 0.61em);
		height: 1.5em;
		background: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.9),
			rgba(0, 0, 0, 0.7)
		);
	}
	.cardScalable::after {
		display: none;
	}
}

.installedPlugins .card {
	.cardFooter {
		padding: 0.3em 0.3em 0.5em;
		position: absolute;
		display: flex;
		justify-content: stretch;
		align-items: stretch;
		width: calc(100% - 0.61em);
		bottom: 0;
		flex-direction: column;
		background: linear-gradient(to top, rgb(0 0 0 / 0.7), transparent);
	}
	.cardText {
		position: static !important;
	}
	.cardScalable::after {
		display: none;
	}
}
