/** @format */

@use "../abstract/variables" as ab;
#indexPage {
	.sectionTitle {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 0.5em;
		color: white;
		align-items: center;
		font-size: 1.6em;
		&::before {
			content: "";
			width: 1.3em;
			height: 2px;
			background: white;
		}
	}
	.emby-scroller {
		.emby-button:not(.cardOverlayButton) {
			margin-right: 1.2em;
			border-radius: ab.$rounding-default;
			background: rgb(0 0 0 / 0.2);
			box-shadow: 0 0 0.5em rgb(0 0 0 / 0.75);
			overflow: hidden;
			&::after {
				all: unset;
			}
			&:hover {
				background: rgb(0 0 0 / 0.5);
			}
		}
	}
	.section0 .itemsContainer {
		flex-wrap: wrap;
	}
}
