/** @format */
@use "../abstract/variables" as *;

@media (orientation: portrait) and (max-width: 43em) {
	.nowPlaying {
		&InfoContainer {
			justify-content: center;
			align-items: center;
		}
		&PageImageContainer {
			flex-grow: 0;
		}
	}
}

.nowPlaying {
	&SongName {
		font-size: 1.5em;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.subtitleSync {
	top: 8em;
	left: 0;
	&Container {
		background-color: rgb(0 0 0 / 0.75);
		backdrop-filter: blur($filter-blur-default);
	}
}

.sliderBubble {
	background: rgb(0 0 0 / 0.75);
	backdrop-filter: blur($filter-blur-default);
}

.osdTextContainer{
	font-family: monospace;
}