@use "../abstract/variables" as *;

#itemDetailPage{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    overflow-y: auto;
    
    .detailRibbon {
        height: 7.2em;
        margin-top: 10vh;
        background: transparent;
        font-size: 2.2vh;
        position: static !important;
    }
    .detailImageContainer .card {
        position: fixed !important;
        left: 3.3%;
        top: calc(50% + 1em);
        width: 25vw;
        transform: translateY(-50%);
        border-radius: $rounding-default;
    }
    .detailPageWrapperContainer {
        width: 100vw;
    }
    .mainDetailButtons .emby-button:not([data-action="resume"]){
        background: transparent !important;
    }
    .detailLogo{
        display: none;
    }
    .emby-button{
        background: transparent !important;
        border-radius: 10vh;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        &:hover{
            background: rgb(255 255 255 / 0.1) !important;
            color: white;
        }
        &::after{
            display: none;
        }
        
        &[title="Play"], &[title="Resume"]{
            border: 0.1em solid currentColor;
            &::after{
                content: attr(title);
                display: block;
                opacity: 1;
                background: transparent;
                position: static;
                font-weight: 400;
                height: fit-content;
                font-size: 1.5em;
            }
        }
    }
}