/** @format */

@use "../abstract/variables" as *;

.skinHeader {
	background: transparent !important;
	position: static;
}

.layout-mobile,
.layout-desktop {
	body {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		overflow: hidden !important;
	}
}

div[data-role="page"].page {
	position: absolute;
	height: calc(100% + 1.2em);
	overflow: hidden visible;
	mask-image: linear-gradient(
		to top,
		transparent,
		black 1em calc(100% - 1em),
		transparent
	);
	-webkit-mask-image: linear-gradient(
		to top,
		transparent,
		black 1em calc(100% - 1em),
		transparent
	);
	padding: 1.2em 0 !important;
}
.mainAnimatedPages.skinBody {
	height: 100%;
	position: relative;
}

// Command Panel

.selectionCommandsPanel {
	background: rgb(0 0 0 / 0.75);
	backdrop-filter: blur($filter-blur-default);
	box-shadow: 0 0 15px black;
}

// Cast management button fix
.material-icons.cast_connected:before {
    content: "\f1de" !important;
}
