/** @format */

@use "../abstract/variables" as *;

.skinHeader {
	background: transparent !important;
	position: static;
}

.layout-mobile,
.layout-desktop {
	body {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		overflow: hidden !important;
	}
}

div#reactRoot {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

div[data-role="page"].page {
	position: absolute;
	overflow: hidden visible;
	mask-image: linear-gradient(
		to top,
		black 1em calc(100% - 2em),
		transparent
	);
	-webkit-mask-image: linear-gradient(
		to top,
		black 1em calc(100% - 2em),
		transparent
	);
	padding: 2em 0 !important;
	&#searchPage {
		margin-top: 4.4em;
	}
}

.mainAnimatedPages.skinBody {
	height: 100%;
	position: relative;
}

// Command Panel

.selectionCommandsPanel {
	background: rgb(0 0 0 / 0.75);
	backdrop-filter: blur($filter-blur-default);
	box-shadow: 0 0 15px black;
}
