/** @format */
@use "../abstract/variables" as *;
a[is="emby-linkbutton"] {
	position: relative;
	&::after {
		content: "" !important;
		position: absolute;
		bottom: -0.1em;
		width: 100%;
		height: 0.1em;
		background: currentColor;
		transform-origin: left;
		transform: scale(0);
		transition: transform $transition-time-fast-1 ease-in-out;
	}
	&:hover::after {
		transform-origin: right;
		transform: scale(1);
	}
}
