/** @format */

@use "../abstract/variables" as *;
.sliderBubble {
	border-radius: $rounding-max;
	overflow: hidden;
	background: transparent;
}

.chapterThumbTextContainer {
	background: linear-gradient(
		to top,
		black 0.25em,
		rgb(0 0 0 /0.25),
		transparent
	) !important;
	padding: 10em 0.5em 0.25em 0.5em !important;
}
