/** @format */

.layout-mobile #itemDetailPage {
	.itemBackdrop {
		display: block !important;
	}
	.parentName,
	.parentNameLast {
		display: block !important;
		font-size: 1.6em !important;
	}
	.detailLogo:not(.hide) {
		display: none !important;
	}
}

body #itemDetailPage {
	.parentName,
	.parentNameLast {
		font-size: 0 !important;
	}
	.detailLogo {
		left: 18.8vw;
		top: 17.5vh;
		height: 30vh;
		background-position: left bottom !important;
	}
	&:has(.itemName.subtitle) {
		.detailLogo {
			top: 9.5vh;
		}
	}
	.nameContainer .parentName {
		a {
			position: absolute;
			top: 9.5vh;
			left: 18.8vw;
			border-radius: 0 !important;
			width: 25vw;
			height: 30vh;
			font-size: 0;
		}
	}
	.detailLogo:not(.hide) {
		display: block !important;
		position: absolute;
		flex-shrink: 0;
		flex-grow: 0;
		background-position: left;
	}
	.detailLogo.hide
		+ .detailPageWrapperContainer
		> .detailPagePrimaryContainer {
		margin-top: 10vh;
		& > .infoWrapper > .nameContainer > .itemName {
			font-size: 2.5em !important;
			display: block !important;
		}
	}

	// Episode Page
	&:has(.parentName a[data-type="Series"]):not(:has(.listItem)) {
		.nameContainer .parentName a,
		.detailLogo {
			top: 2vh;
			left: 28.8vw;
		}
	}
}
