/* Normal */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-Thin.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-ExtraLight.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-Light.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-Regular.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-Medium.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-SemiBold.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-Bold.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-ExtraBold.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-Black.woff2) format('woff2');
    unicode-range: U+0030-0039;
}


/* Italic */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-ThinItalic.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-ExtraLightItalic.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-LightItalic.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-MediumItalic.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-SemiBoldItalic.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-BoldItalic.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2) format('woff2');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(./fonts/Montserrat/Montserrat-BlackItalic.woff2) format('woff2');
    unicode-range: U+0030-0039;
}