/** @format */

@use "../abstract/variables" as *;
.backgroundContainer {
	background-color: $background-darker;
	&.withBackdrop {
		background: transparent !important;
	}
}
.backdropContainer {
	filter: blur($filter-blur-default)
		brightness($filter-brightness-default)
		saturate($filter-saturation-default)
		contrast($filter-contrast-default);
	margin-left: -$filter-blur-default;
	margin-top: -$filter-blur-default;
	width: calc(100vw + 2 * $filter-blur-default);
	height: calc(100vh + 2 * $filter-blur-default);
}
.withTabs .content-primary {
	padding-top: 1em !important;
}

.scrollY {
	mask-image: linear-gradient(
		to bottom,
		transparent,
		black 1em calc(100% - 1em),
		transparent
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		transparent,
		black 1em calc(100% - 1em),
		transparent
	);
	padding: 1em 0;
}

.pageTabContent {
	padding: 0 1em;
}

.appfooter {
	background: rgb(0 0 0 / 0.65);
	backdrop-filter: blur(30px);
}

::selection {
	background: $jf-blue-light;
}
